 body{

    font-size: 18px;
    background-color:whitesmoke ;
    margin-left: auto;
} 


.b1 {

    border: 40xp 20xp 20xp 30xp; 
    padding: 40xp 20xp;
    margin: 50px auto;
}


.b2 {

    
    
    border: 5px solid black ;
    padding: 20px 40px;
    margin:  20 px;
} 


.contact {

     margin-top: 50px;
    margin-left: 350px ;
    margin-bottom: 100px;
}



.position {

    margin-top: 80px;
    margin-left: 220px ;
    margin-bottom: 110px;  
} 


.image {


     border: 1px  black; 
    padding: 5px 5px ;
    box-shadow: -7px 0px 15px 4px rgba(0,0,0,0.85);
   /* per hijen e boxes */
}

.container{

     width: 80%;
     margin: 0 auto ;
}


.logo {
 
    float: left;
    padding: 10px 0;
}

.header{

    background-color: brown ;
}

header::after{

     content: '';
    display: table; 
    clear: both;
}

 nav {

    float: right;
} 

  nav ul {

    margin: 0;
    padding: 0;
    list-style: none;
} 

nav li {

    display: inline-block;
    margin-left: 50px;
    padding-top: 90px ;
}

nav a {

   color: white;
   text-decoration: none;
   text-transform: uppercase;
}

nav a:hover {

    color: burlywood;
}



