 body{

    font-size: 18px;
    background-color:whitesmoke;
} 




      
.left {width: 70%;
}

.left img {
    width: 120px;
}


.b1 {


    border: 40xp 20xp 20xp 30xp; 
    padding: 40xp 20xp;
    margin: 40px auto;

}

.b2 {

    border: 5px solid black ;
    padding: 20px 40px;
    margin: 20 px;
}


.font {

  font-size: 25px;

}

.position {

    
    margin-left: 450px ;
    margin-bottom: 100px;
    
}

.position3 {

    
    margin-left: 450px ;
    margin-bottom: 100px;
    margin-top: 0px;
    
}

.b3 {

    border: 5 px solid black;
}


.position2 {

    
    margin-left: 310px ;
    margin-bottom: 110px;
    
}


.image {


    border: 4px dotted black;
}